<div class="bloc-conso-container bloc-mg">
  <div class="bloc-conso-container__content">
    <h2 class="h2">Gérez votre conso’ et vos documents
      <span class="blue">sans stress</span>
    </h2>

    <div class="bloc-conso">
      <p class="text text--gray">
        Avec notre espace client ainsi que l’application Happ-e, consultez vos informations à tout moment.
      </p>
      <div class="list-cool">Plus de papiers</div>
      <div class="list-cool">Un suivi de de conso’ personnalisé</div>
      <div class="list-cool">Votre historique d’échanges avec Happ-e</div>

      <a href="" class="button button--invert">Découvrir en vidéo</a>
    </div>
  </div>
  <div class="bloc-conso-container__image">
    <img src="assets/images/dashboard.png" alt="">
  </div>
</div>