<!-- Header -->
<header class="main-header">

  <!-- Sticky -->
  <sticky></sticky>

  <div class="main-header__inner">
    <img src="./assets/images/visuel-header.png" alt="" class="main-header__visu">
    <div class="main-header__inner__title-container">
      <img src="./assets/images/logo-original.png" alt="" class="main-header__logo">
      <p class="main-header__baseline">Mon contrat énergie simple et accessible à tout moment</p>
      <a href="" class="button">Voir toutes les offres</a>
    </div>
  </div>
</header>