<div class="main-header invert alone">
  <sticky></sticky>
</div>

<div class="subscription-welcome">

  <div class="subscription-welcome__inner">

    <img src="assets/images/welcome.png" alt="">
    <span class="icon icon-smile"></span>

    <div class="subscription-welcome__text">
      <h1>Bienvenue dans la famille !</h1>

      <p>Happ-e vous remercie pour votre souscription.</p>

      <p class="small">
        <a href="">Connectez-vous</a> dès maintenant pour suivre vos démarches.
      </p>
    </div>

  </div>

</div>