<div class="container">


  <div class="bloc-picto bloc-mg">
    <div class="picto">
      <img src="assets/images/full_digital.svg" alt="">
      <p class="yellow">Une offre <br class="picto__br">100% en ligne</p>
      <div class="picto__desc">Fini les papiers ! Tout se fait en ligne pour une souscription facile et rapide.</div>
    </div>
    <div class="picto">
      <img src="assets/images/without_engagement.svg" alt="">
      <p class="red">Sans <br class="picto__br">engagement</p>
      <div class="picto__desc">Résiliez à tout moment sans frais supplémentaire.</div>
    </div>
    <div class="picto">
      <img src="assets/images/service_client.svg" alt="">
      <p class="green">Un service client <br class="picto__br">disponible</p>
      <div class="picto__desc">Service client à votre écoute 6J/7 par mail, tchat et téléphone*.</div>
    </div>
    <div class="picto">
      <img src="assets/images/economy.svg" alt="">
      <p class="blue">Jusqu'à 200€ <br class="picto__br">d'économies</p>
      <div class="picto__desc">Un tarif clair pendant 2 ans sans surprise.</div>
    </div>

    <a href="" class="button button--invert">Je souscris en 5 min</a>
  </div>


</div>