<div class="container">


  <div class="bloc-picto bloc-mg">
    <div class="picto">
      <img src="assets/images/full_digital.svg" alt="">
      <p class="yellow">Une offre 100% en ligne</p>
    </div>
    <div class="picto">
      <img src="assets/images/without_engagement.svg" alt="">
      <p class="red">Sans engagement</p>
    </div>
    <div class="picto">
      <img src="assets/images/service_client.svg" alt="">
      <p class="green">Un service client disponible</p>
    </div>
    <div class="picto">
      <img src="assets/images/economy.svg" alt="">
      <p class="blue">Jusqu'à 200€ d'économies</p>
    </div>

    <a href="" class="button button--invert">Je souscris en 5 min</a>
  </div>


</div>