<div class="bloc-trust">
  <h2 class="h2 h2--invert">Ils nous font confiance !</h2>

  <div class="opinion">
    <div class="opinion__container">
      <ul class="opinion__list">
        <li class="opinion__list__item">
          <div class="opinion__list__item__inner">
            <div class="opinion__list__top">
              <div class="notation notation--4"></div>
              <div class="opinion__list__date">Le 14/06/2018</div>
            </div>
            <div class="opinion__list__text">“Je viens de souscrire. La souscription est facile”</div>
            <div class="opinion__list__author">E. Andre</div>
          </div>
        </li>

        <li class="opinion__list__item">
          <div class="opinion__list__item__inner">
            <div class="opinion__list__top">
              <div class="notation notation--5"></div>
              <div class="opinion__list__date">Le 14/06/2018</div>
            </div>
            <div class="opinion__list__text">“Inscription facile ! Rien à redire, au moindre problème, un conseiller et tout de suite disponible !”</div>
            <div class="opinion__list__author">B. Jean-Michel</div>
          </div>
        </li>

        <li class="opinion__list__item">
          <div class="opinion__list__item__inner">
            <div class="opinion__list__top">
              <div class="notation notation--5"></div>
              <div class="opinion__list__date">Le 14/06/2018</div>
            </div>
            <div class="opinion__list__text">“Grace à l’application, je peus suivre ma conso à tout moment, vraiment au top”</div>
            <div class="opinion__list__author">G. Jean-Paul</div>
          </div>
        </li>

        <li class="opinion__list__item">
          <div class="opinion__list__item__inner">
            <div class="opinion__list__top">
              <div class="notation notation--5"></div>
              <div class="opinion__list__date">Le 14/06/2018</div>
            </div>
            <div class="opinion__list__text">“Grace à l’application, je peus suivre ma conso à tout moment, vraiment au top”</div>
            <div class="opinion__list__author">G. Jean-Paul</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>

  <a href="" class="button button--trust">Voir toutes les avis</a>
</div>