// _c-button.scss

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
  border: 0;
  border-radius: 50px;
  background-color: color('background');
  color: color('primary');
  appearance: none !important;
  @include transition();

  @include respond-to('large') {
    font-size: 18px;
    padding: 22px 40px;
    font-weight: 700;
  }

  &--invert {
    background-color: color('primary');
    color: color('foreground', 'invert');
  }

  &--transp {
    background-color: transparent;
    border: solid 1px color('background');
    color: color('foreground', 'invert');
  }

  &--red {
    background-color: color('secondary', 'red-dark');
    color: color('foreground', 'invert');
  }
  &--trust {
    color: color('secondary', 'yellow');
  }
}