//_c-picto.scss

.picto {
  width: 50%;
  margin: 15px 0;
  padding: 0 15px;
  text-align: center;

  @include respond-to('large') {
    width: 25%;
    margin: 15px 0 50px 0;
  }

  p {
    font-size: 18px;
    font-weight: 600;
  }

  img {
    height: 65px;

    @include respond-to('large') {
      height: 90px;
    }
  }

  &__br,
  &__desc {
    display: none;

    @include respond-to('large') {
      display: block;
    }
  }

  &__desc {
    font-size: 14px;
    color: color('gray', 'light');
    margin-top: 12px;
  }
}