// _c-title.scss

.h2 {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  line-height: 36px;
  width: 70%;
  margin: auto;

  @include respond-to('large') {
    font-size: 44px;
    line-height: 50px;
  }

  &--invert {
    color: color('foreground', 'invert');
  }

  .bloc-sponsor & {
    width: 75%;
  }
}

.text {
  font-size: 14px;
  line-height: 24px;

  @include respond-to('large') {
    font-size: 18px;
    line-height: 32px;
  }

  &--gray {
    color: color('gray');
  }

  &--invert {
    color: color('foreground', 'invert');
  }
}