<div class="bloc-situation-container">
  <div class="bloc-situation">
    <div class="bloc-situation__inner">
      <a class="button button--red" (click)="toggleDemenagement()">Je déménage</a>
      <a class="button button--red active" (click)="toggleFournisseur()">Je change de fournisseur</a>
    </div>
  </div>
  <div class="bloc-situation-container__info">
    <div class="bloc-situation-container__info__inner">
      <h2 class="h2 red">Mon guide Happ-e</h2>
      <div class="bloc-conso">
        <p class="text text--gray">
          Lorem ipsum dolor sit amet, cotnsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        </p>
        <div class="list-cool">Happ-e se charge des démarches</div>
        <div class="list-cool">Pas de changement de compteur</div>
        <div class="list-cool">Relève de mes index ajusté</div>
        <div class="list-cool">Le même réseau d’énergie Enedis</div>

      </div>
    </div>
  </div>
</div>