// _m-main-navigation.scss

.main-navigation {
  display: none;
  float: right;

  @include respond-to('large') {
    display: block;
  }

  &__item {
    display: inline-block;

    a {
      position: relative;
      display: block;
      text-decoration: none;
      color: color('foreground', 'invert');
      padding: 15px 20px;
      font-size: 15px;
      cursor: pointer;

      @include respond-to('huge') {
        padding: 15px 35px;
      }

      &::after {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -25px;
        width: 50px;
        height: 2px;
        background: color('background');
        transform: scaleX(0);
        @include transition();
      }

      &:hover {
        &::after {
          transform: scaleX(1);
          @include transition();
        }
      }

      &.mea {
        background-color: color('primary', 'dark');
        border-radius: 50px;
      }
    }
  }
  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 50px;
  background: linear-gradient(to right, rgba(36,12,150,1) 0%,rgba(39,12,170,1) 50%,rgba(38,12,164,1) 100%);
  z-index: 99;

  &__inner {
    @include respond-to('huge') {
      width: 1300px;
      display: block;
      margin: auto;
      overflow: hidden;
    }
  }
}