<div class="container container-offer">

  <h2 class="h2 blue">Des offres energie & gaz qui font du bien à votre budget</h2>

  <div class="offers-slider">
    <div class="offer offer--red">
      <div class="offer__title">Électricité & Gaz Happ-e</div>
      <div class="offer__reduc">-2
        <sup>%</sup>
        <span>d'économie</span>
      </div>
      <p class="offer__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
      <a href="" class="button button--transp">Découvrir l'offre</a>
    </div>
    <div class="offer offer--green">
      <div class="offer__title">Électricité Verte Happ-e</div>
      <div class="offer__reduc">-2
        <sup>%</sup>
        <span>d'économie</span>
      </div>
      <p class="offer__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
      <a href="" class="button button--transp">Découvrir l'offre</a>
    </div>
    <div class="offer offer--blue">
      <div class="offer__title">Électricité
        <br>Happ-e</div>
      <div class="offer__reduc">-10
        <sup>%</sup>
        <span>d'économie</span>
      </div>
      <p class="offer__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
      <a href="" class="button button--transp">Découvrir l'offre</a>
    </div>
  </div>

</div>