<!-- Footer -->
<footer class="main-footer">
  <div class="container">
    <div class="main-footer__top">
      <img src="./assets/images/logo-header.png" alt="" class="main-footer__logo-engie">
      <p class="text text--invert">Lancé par ENGIE (ex GDF SUEZ), happ-e.fr est un site dédié à la vente en ligne d'électricité pour les clients particuliers
        résidant en France métropolitaine*.
      </p>
      <p class="text text--invert">L’énergie est notre avenir, économisons-la !</p>
    </div>
    <div class="main-footer__bottom">
      <div class="main-footer__bottom__item">
        <div class="main-footer__bottom__title">Emballé(e) ?</div>
        <p>Recommandez à vos amis et bénéficiez de réductions sur vos factures !</p>
      </div>

      <div class="main-footer__bottom__item">
        <div class="main-footer__bottom__title">Plus sur Happ-e</div>
        <a href="">Blog</a>
        <a href="">Facebook</a>
        <a href="">Twitter</a>
      </div>

      <div class="main-footer__bottom__item">
        <div class="main-footer__bottom__title">Assistance client</div>
        <a href="">FAQ</a>
        <a href="">Contact</a>
        <a href="">Lexique électricité</a>
      </div>

      <div class="main-footer__bottom__item">
        <div class="main-footer__bottom__title">Confidentialité</div>
        <a href="">Notre politique</a>
      </div>

      <div class="main-footer__bottom__item main-footer__bottom__item--full">
        <div class="main-footer__bottom__title">Télécharger l'application</div>
        <a href="">
          <img src="./assets/images/google-play.png" alt="">
        </a>
        <a href="">
          <img src="./assets/images/app-store.png" alt="">
        </a>
      </div>
    </div>
  </div>
</footer>